    *{
      margin: 0;
    }
    
    body {
      margin: 0;
      background-image: url(pics/Sprite-0001.png);
      background-size: 2.7%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      font-family: "Jersey 10";
    }

    .hex-grid {
      position: relative;
      width: 600px;
      height: 520px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hex-wrapper {
      position: absolute;
      width: 90px;
      height: 104px;
      clip-path: polygon(
        50% 0%, 100% 25%, 100% 75%,
        50% 100%, 0% 75%, 0% 25%
      );
      background: rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hex {
      width: 82px;
      height: 94px;
      clip-path: inherit;
      background-color: #f4a261;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      font-family: sans-serif;
      box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
    }

    #resourceCard{
    margin-bottom: 1px;
    margin-left : 20px;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.485);
    background-color: #f4b887;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 20px;
    >h1{
      text-align: center;
      text-decoration: underline solid black 5px;
      margin-bottom: 30px;
      margin-top: 10px;
    }
    >p{
      padding-left: 10px;
      margin-bottom: 30px;
    }
  }
    #resources{
    width: 400px;
    height: 50px;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid black;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.485);
    background-color: #f4b887;
    color: black;
    font-size: 20px;
    text-align: center;
    >p{
      margin-top: 2.5%;
      display: flex;
      justify-content: space-around;
    }
}
    #shop{
    width: 300px;
    height: 50px;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid black;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.485);
    background-color: #f4b887;
    color: black;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    >span{
          cursor: pointer;
    }
}
  #inventory{
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
    #next{
      margin: 0 10px 10px 0;
      padding: 0;
    width: 75px;
    height: 75px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.485);
    background-color: #f4b887;
    color: black;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    >img{
      width: 75px;
      height: 75px;
    }
}
    #trade{
      margin: 0 10px 10px 0;
      padding: 0;
    width: 75px;
    height: 75px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.485);
    background-color: #f4b887;
    color: black;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    >img{
      width: 75px;
      height: 75px;
    }
}
    #commands{
    bottom: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}
.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.39);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: 1px solid gray;
    
  }

  .point.clicked {
    background: yellow;
  }